*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    color: white;
    width: 100vw;


}
.card{
    width: 200px;
    height: 500px;
}
.card-img-top{
    width: 290px;
    height: 250px;
}
.container-fluid{
    align-items: center;
    inline-size: auto;
}
.ptc{
    width: 100px;
    height: 100px;
}
.container grid grid-four-coloumn{
    flex-direction: row;
}
header{
    /* position: fixed; Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width
}